android-tech-news/*.iml
android-tech-news/.gradle
android-tech-news/local.properties
android-tech-news/.idea/*
android-tech-news/.DS_Store
android-tech-news/build
android-tech-news/captures
android-tech-news/.externalNativeBuild
android-tech-news/.cxx
android-tech-news-api/database